* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(184, 180, 180);
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "area1 area1 area1"
        "area2 area2 area3"
        "area4 area4 area4";
    gap: 10px;

}

#header {
    grid-area: area1;
    background-color: goldenrod;
    padding: 0.5rem;
}

#main {
    grid-area: area3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

#section {
    grid-area: area2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 275px;
    height: 500px;
    border: solid 2px black;
    border-radius: 11px;
    background-color: whitesmoke;
}

#card__image {
    /* margin: 20px 0px; */
    background-color: yellow;
    height: 150px;
    /* display: none; */
    opacity: 0;

}

#card__bike-name {
    font-size: 1rem;
    padding: 10px 0px;
}

#card__form {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-grow: 1;
}

#card__bike-name {
    padding: 10px 0px;
    width: 100%;
}

#bike-name {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: arial;
}

#card__yellow-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    border: solid 2px black;
    border-radius: 5px;
    width: 100%;
    flex-grow: 1;
}

/* #card__form ::after {
    content:'';
    position:absolute;
    left:0;
    display:absolute;
    height:2px;
    width:100%;
    margin-top:28px;
    background-color:black;
} */

#card__feature {
    width: 100%;
}

#card__feature-label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#card__feature-value {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 100%;
}

#card_copy__feature-value {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.card-value {
    width: 30%;
    background-color: yellow;
    border: none;
    outline: none;
}


#btn {
    color:black;
    padding: 10px 37px;
    border-radius: 12px; 
    background-color: #e3e63b;
    border:solid 2px black;
}

#btn:disabled {
    color:black;
    padding: 10px 37px;
    border-radius: 12px; 
    background-color: grey;
    border:solid 2px black;
}

#btn:hover:enabled {
    background-color: #ffff00;
    transition: 0.5s;
}

.card__header{
    display: flex; 
}

.card__title {
    font-size: 1.2rem;
    border: solid 2px black;
    background-color: yellow;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
}

.card__cod {
    font-size: 1.2rem;
    border: solid 2px black;
    background-color: yellow;
    width: 17%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-left: -2px;
    display: flex;
}

#footer {
    grid-area: area4;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização dos cards filho */
#card__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    border: solid 2px black;
    border-radius: 5px;
    flex-grow: 1;
}